.nav-container {
    background-color: gray;
    
}
.navbar {
    display: flex;
   justify-content: flex-end;
    flex-wrap:  wrap;
    list-style: none;
    padding-right: 80px;
    margin-top: 40px;  
    text-indent: 40px;
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-link {
    text-decoration: none;
    display: block;
}